.share{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.24); 
    box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.24);
}

.shareWrapper{
    padding: 10px;
}

.shareTop{
    display: flex;
    align-items: center;
}

.shareProfileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.shareInput{
    border: none;
    width: 90%;
}

.shareInput:focus{
    outline: none;
}

.shareHr{
    margin: 20px;
}

.shareButton{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shareOptions{
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.shareOptions > button{
    margin-left: 40px;
    font-size: 18px;
    letter-spacing: 3px;
    justify-content:center;
    width: 100px;
}

.shareOption{
    display: flex;
    align-items: center;
    margin: 15px;
    cursor: pointer;
}

.shareIcon{
    font-size: 20px;
    margin-right: 4px;
}

.shareOptionText{
    font-size: 17px;
    font-weight: 500;
}

.shareButton{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: green;
    font-weight: 300;
    cursor: pointer;
    color: white;
}